@font-face {
    font-family: 'tt_medium';
    src: url('../fonts/font/TTLakes-Medium.woff') format('woff');
}

@font-face {
    font-family: 'tt_bold';
    src: url('../fonts/font/TTLakesCondensed-Bold.woff') format('woof');
}

body {
    position: absolute;
    margin: 0;
    min-width: 320px;
    width: 320px;
    width: 95%;
    font-family: 'tt_medium';
    background-color: #f8f8f8;
}

.border {
    border: 1px solid black;
}

.border-dashed {
    border: 1px dashed black;
}

/* .div-items {
    display: flex;
    overflow: hidden; */
/* } */
.swiper {
    width: 100%;
    height:auto;
    /* border: 1px solid blueviolet; */
    margin-bottom: 30px;
  }


.main-section {
    margin: 0;
    padding-top: 0;
}

.swiper-wrapper {
    margin-bottom: 40px;
    width: 95%;
}
.swiper-slide {
    /* margin-bottom: 25px; */
    margin-top: 15px;
    width: 100%
}

.swiper-slide__div {
    background-color: white;
    /* position: absolute; */
    max-width:  240px;
    width: 240px;
    height: 72px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}


.div-item_a {
    background-image: url('../img/menu_logo/dropdown.png');
    background-position: 50% 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    border: #ff3e79 2px solid;
    width: 15px;
    height: 35px;
    padding: 0 10px;

}

.div-item_a:hover, .div-item__a-img:hover {
    transition: all .6s;
    transform: scale(120%);
}



.swip-btn {
    position: absolute;
    top: 45px;
    background-image: url('../img/menu_logo/dropdown.png');
    background-image: url('../img/menu_logo/dropdown.p'); 
    /* background-position: 50% 50%; */
    /* border-radius: 50%; */
    /* background-repeat: no-repeat; */
    border:none;
    width: 15px;
    height: 35px;
    padding: 0 10px;    
}
/*  */
/* .swiper-button-prev { */
    left: 0px;
    /* transform: rotate(180deg); */
/* } */

/* .swiper-button-next { */
    /* right: 0px; */
/* }  */