@font-face {
    font-family: 'tt-medium';
    src: url('../fonts/font/TTLakes-Medium.woff') format('woff');
}
@font-face {
    font-family: 'tt-bold';
    src: url('../fonts/font/TTLakesCompressed-Black.woff') format('woff');
}


.body {
    /* font-family: 'tt-medium';
    min-width: 320px;
    height: 150px;
    /* width: 320px; */
    /* margin: 0; */ 
}

.border {
    border: 1px solid #000;
}
.bor-dash {
    border: dashed 1px red;
}

.main-section {
    width: 80%;
}


.mySwiper {
    width: 100%;
    height: auto;
   
}
.content {
}

.content__img {
    /* margin-left: 0; */
}
.swiper-wrapper {
    border: solid 1px rgb(206, 232, 11);
    box-sizing:border-box;
    display: flex;
    width: 100%;
    /* overflow: hidden; */
    /* margin: 10px; */
    margin-left: 0;
    padding-left: 0;
}
.content__ul {
    margin: 10px;
    width: 100%;
    display: flex;    
}

.swiper-slide {
    /* position: relative;
    margin: 0; */
    /* width: 60%; */

}
.cuntent__li {
    display: block;
    margin-left: 10px;
    /* background-image: url("../img/menu_logo/dropdown.png"); */
    /* background-position: 50% 50%; */
    background-repeat: no-repeat;
    /* right: 15px; */
}

.cuntent__li:first-child {
    margin-left: 0;
}


.content__button {
    /* background-color: transparent; */
    position: relative;
    display: flex;
    align-items: center;
    width: 224px;
    height: 72px;
    /* background-repeat: no-repeat; */
}

.li__div {
    background-image: url('../img/menu_logo/dropdown.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 2px solid red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: 10px;
    position: absolute;
}
.swiper-pagination {
}